html{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 178, 178);
}

.bdy{
    background-color: rgb(255, 178, 178);
}
.navbar-brand{
font-family: "droog", sans-serif;
font-weight: 900;
font-style: normal;

}
.desc1{
    font-family: "ziclets", sans-serif;
    font-weight: 50;
    font-style: normal;
    color:black;
    text-align: center;
}
.text{
    font-family: 'Courier New', Courier, monospace;
}
.rounded{
    border:solid white 3px;
    border-radius: 30px;
}
/*{
    font-family: "bd-geminis", sans-serif;
font-weight: 100;
font-style: normal;
font-size: medium;
}*/
.btnlk{
    border:solid red 3px;
    background-color: transparent;
    background-image:url("images/dontic\ copy.png");
    height:20rem;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    max-width: 85%;
}

.ft{
    background-color: rgb(255, 54, 54);
}